#simple-modal-overlay {
    background: -moz-radial-gradient(circle , #FFFFFF, #291A49) repeat scroll 0 0 transparent;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99998;
}
.simple-modal {
    background-color: #FFFFFF;
    border: 1px solid rgba(234, 238, 250, 0.6);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    color: #808080;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    left: 20px;
    line-height: 18px;
    margin: 0;
    position: fixed;
    top: 20px;
    width: 600px;
    z-index: 99999;
}
.simple-modal .simple-modal-header {
    border-bottom: 1px solid #EEEEEE;
    margin: 0;
    padding: 5px 15px;
}
.simple-modal .simple-modal-header h1 {
    color: #404040;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
	line-height: 25px;
    margin: -5px;
}
.simple-modal a {
    margin-right: 15px;
}
.simple-modal a.close {
    color: #999999;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 10px;
    position: absolute;
    right: 1px;
    text-decoration: none;
    top: 5px;
}
.simple-modal a.close:hover {
    color: #444444;
}
.simple-modal .simple-modal-body {
    padding: 10px 5px 10px 10px;
}
.simple-modal .simple-modal-body div.contents {
    overflow-y: auto;
}
.simple-modal .simple-modal-body p {
    color: #606060;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
.simple-modal .simple-modal-body p img {
    display: block;
    margin: 0 auto 10px;
}
.simple-modal .simple-modal-footer {
    background-color: #F5F5F5;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #EEEEEE;
    box-shadow: 0 1px 0 #FFFFFF inset;
    display: block;
    margin-bottom: 0;
    padding: 4px 5px 5px;
    text-align: center;
}
.simple-modal.draggable .simple-modal-header:hover {
    background-color: #F8F8F8;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: move;
}
.simple-modal.loading .simple-modal-body {
    background: url("../images/loader.gif") no-repeat scroll center center transparent;
    min-height: 60px;
}
.simple-modal.loading .simple-modal-body div.contents {
    display: none;
}
.simple-modal.loading .close, .simple-modal.loading .simple-modal-header, .simple-modal.loading .simple-modal-footer {
    display: none;
}
.simple-modal.hide-header .simple-modal-header {
    display: none;
}
.simple-modal.hide-footer .simple-modal-footer {
    display: none;
}

.simple-modal .column-entry{
	font-weight: bold;
}