a:hover {
    color: #404040;
    text-decoration: none;
}
#tt-page {
    margin-left: -10px;
    padding-right: 10px;
}
.tt-content {
    border-left: 1px solid #DDDDDD;
    float: none;
    margin-left: 200px;
    max-width: 1180px;
    min-width: 700px;
    padding: 0 10px 0 20px;
}
#sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
}
#sidebar ul {
    margin-bottom: 0;
}
div#sql-container {
    padding-left: 20px;
}
div#table-options {
    clear: right;
}
#table-options span {
    padding-left: 30px;
}
#table-options a {
    cursor: pointer;
    padding-left: 5px;
}
#table-options a, #table-options span, #table-options p {
    font-size: 12px;
    margin-bottom: 3px;
}
#table-options .paginatn a.last {
    padding-right: 10px;
}
#table-options .paginatn a.active {
    font-weight: bold;
}
#table-options .paginatn a {
    color: #404040;
}
#table-options .paginatn a.cntrl {
    color: #0069D6;
}
table.sql {
    border: medium none;
    display: block;
    overflow: auto;
}
table.sql * {
    border: medium none;
    border-radius: 0 0 0 0;
}
table.sql thead th {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-repeat: repeat-x;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    max-width: 300px;
    min-width: 150px;
    padding: 2px;
}
table.sql thead th.table-th-sort {
    font-weight: bold;
}
table.sql tbody td {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-family: mono;
    font-size: 11px;
    padding: 3px 3px 2px;
}
table.sql tbody tr:first-child td, table.sql tbody tr:last-child td, table.sql {
    border-radius: 0 0 0 0;
}
table.sql tbody td:first-child, table.sql thead th:first-child {
    border-left: 1px solid #DDDDDD;
}
table.sql th#selector, td#selector {
    max-width: 25px;
    min-width: 25px;
    width: 25px;
}
table.sql tr.table-tr-selected td {
    background: none repeat scroll 0 0 #EFEFEF;
}
input[type="text"], textarea, select {
    font-family: mono;
    font-size: 12px;
}
h5.heading {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #DDDDDD;
    color: #888888;
    padding-bottom: 0;
}
.actions {
    padding: 10px 20px 10px 41%;
}
table.compact-form td, table.compact-form, table.compact-form th {
    border: medium none;
}
table.compact-form td label {
    width: auto;
}
table.compact-form td.occupy label {
    padding-right: 20px;
}
.form-controls a {
    cursor: pointer;
}
div.validation-advice {
    background-color: #FFFFCC;
    border: 1px solid yellow;
    font-size: 12px;
    margin-top: 2px;
    padding: 1px;
    width: 216px;
}
.pointer {
    cursor: pointer;
}
.hidden {
    display: none;
}
