.tt-content {
    float: none;
    margin-left: 220px;
    max-width: 1180px;
    min-width: 700px;
}
#tt-content {
    border-left: 1px solid #DDDDDD;
}
#sidebar {
    overflow-x: hidden;
    overflow-y: auto;
}
h3.rule-bottom {
    border-bottom: 1px solid #DDDDDD;
    text-transform: uppercase;
}
table.sql {
    border: medium none;
    display: block;
    overflow: auto;
}
table.sql * {
    border: medium none;
    border-radius: 0 0 0 0;
}
table.sql thead th {
    background: none repeat scroll 0 0 #999999;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: normal;
    max-width: 300px;
    min-width: 200px;
    padding: 5px;
}
table.sql thead th.table-th-sort {
    font-weight: bold;
}
table.sql tbody td {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-family: mono;
    font-size: 11px;
    padding: 4px 4px 3px;
}
table.sql tbody tr:first-child td, table.sql tbody tr:last-child td, table.sql {
    border-radius: 0 0 0 0;
}
table.sql tbody td:first-child, table.sql thead th:first-child {
    border-left: 1px solid #DDDDDD;
}
table.sql th#selector, td#selector {
    max-width: 25px;
    min-width: 25px;
    width: 25px;
}
table.sql tr.table-tr-selected td {
    background: none repeat scroll 0 0 #EFEFEF;
}
#table-options a {
    cursor: pointer;
    padding-left: 5px;
}
#table-options span {
    padding-left: 30px;
}
input[type="text"], textarea, select {
    font-family: mono;
    font-size: 12px;
}
