/*
	SIDEBAR
*/
#sidebar {
     background: none repeat scroll 0pt 0pt #EFEFEF;
     border-right: 1px solid #DDDDDD;
     margin: 40px 0px 0px -20px;
     overflow: auto;
     padding: 10px 0px 0px 10px;
     position: fixed;
     width: 200px;
}
#sidebar ul {
    margin-bottom: 0;
}
#sidebar h6 {
     color: #AAAAAA;
     font-size: 14px;
     font-weight: normal;
     line-height: 18px;
     text-transform: lowercase;
}
#sidebar h6 {
padding-bottom: 0px;
margin: 5px 0px 5px 0px;
}
#sidebar select {
    width: 180px;
}
#sidebar ul {
     font-size: 11px;
     list-style-type: none;
     margin: 0pt 0pt 0pt 10px;
}

#sidebar ul a { color: #777777; }
#sidebar ul li.active { font-weight: bold;}
/*
	ICONS
*/
.icon-table {
    background: url("../img/table.png") no-repeat scroll 0 0 transparent;
}
.icon-databases {
    background: url("../img/databases.png") no-repeat scroll 0 0 transparent;
}
.icon-database {
    background: url("../img/database.png") no-repeat scroll 0 0 transparent;
}
.icon-schemas {
    background: url("../img/schemas.png") no-repeat scroll 0 0 transparent;
}
.icon-go {
    background: url("../img/goto.png") no-repeat scroll 0 0 transparent;
    vertical-align: bottom;
    margin-left: 5px;
}
.icon-schemas, .icon-databases, .icon-table, .icon-database {
    padding: 0 0 10px 20px;
    vertical-align: middle;
}
a:hover {
    color: #404040;
    text-decoration: none;
}
/*
	PAGE UI
*/
#tt-page {
    margin-left: -10px;
    padding-right: 10px;
}
.tt-content {
     float: none;
     margin: 10px 0px 0px 200px;
     max-width: 1180px;
     min-width: 700px;
     padding: 0pt 10px 0pt 15px;
}


div#sql-container {
    padding-left: 20px;
}
div.table-options {
    clear: right;
}
div.table-options span {
    padding-left: 30px;
}
div.table-options a {
    cursor: pointer;
    padding-left: 5px;
}
div.table-options a, div.table-options span, div.table-options p {
    font-size: 12px;
    margin-bottom: 3px;
}
div.table-options .paginatn a.last {
    padding-right: 6px;
}
div.table-options .paginatn a.active {
    font-weight: bold;
}
div.table-options .paginatn a {
    color: #404040;
}
div.table-options .paginatn a.cntrl {
    color: #0069D6;
}

div.data-entry code{
	line-height: 18px;
	background: none;
}


h5.heading {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.heading {
    border-bottom: 1px solid #DDDDDD;
    color: #888888;
    padding-bottom: 0;
}

.go_link {
	margin-left: 5px;
}

.subnav {
     list-style: none outside none;
     padding: 0pt;
}

.subnav:before, .subnav:after {
     content: "";
     display: table;
}

.subnav:after {
     clear: both;
}

.subnav > li {
     float: left;
}

.subnav > li > a {
     display: block;
}

.subnav a {
     color: #0069D6;
	 font-size: 14px;
}

.subnav a span {
     padding-left: 10px;
     padding-right: 10px;
	 color: #404040;
}

.subnav li:last-child span {
     display: none;
}

.subnav .active a {
     color: #404040;
}

.undefined {
	color: #888;
}

div.white-bg, p.white-bg {
	background-color: #fff;
}
/*
	JSIFIED TABLE
*/
table.sql {
    border: medium none;
    display: block;
    overflow: auto;
}
table.sql * {
    border: medium none;
    border-radius: 0 0 0 0;
}

.tbl-header table tbody td {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
	text-align: center;
}
table.sql thead div span {
    margin: 0;
    width: 0;
}
table.sql thead th.table-th-sort {
    font-weight: bold;
}
table.sql tbody td, .tbl-body tbody td {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 3px 3px 2px;
}

table.sql td div.data-entry {
	max-height: 18px;
	overflow: hidden;
	max-width: 300px;
    min-width: 150px;
}

table.sql td.controls div.data-entry {
	max-width: none;
	min-width: 0;
}

table.sql tbody tr:first-child td, table.sql tbody tr:last-child td, table.sql {
    border-radius: 0 0 0 0;
}
table.sql tbody td:first-child, .tbl-header table td:first-child {
    border-left: 1px solid #DDDDDD;
}
table.sql td.controls {
    min-width: 20px;
}
table.sql td.controls * {
}
table.sql td.controls:last-child {
	padding-right: 5px;
}
table.sql tr.table-tr-selected td {
    background: none repeat scroll 0 0 #EFEFEF;
}

.jsifyTable .tbl-header * {
	margin: 0;
	padding: 0;
}

.jsifyTable {
	margin-right: -10px;
}
.jsifyTable .tbl-header table {
	overflow: hidden;
	display: block;
}
.jsifyTable .tbl-header td {
	overflow: hidden;
}
td.last-td {
	width: 100%;
	min-width: 0px;
	padding: 0px;
	margin: 0px;
}

td.sort-asc{
    background: url("../img/sortasc.gif") no-repeat scroll right 6px transparent;
    margin-right: 1px;
}

td.sort-desc{
    background: url("../img/sortdesc.gif") no-repeat scroll right 5px transparent;
    margin-right: 1px;
}
/*
	FORMS
*/

input[type="text"], textarea, select {
    font-family: mono;
    font-size: 12px;
	box-shadow: none;
}

input:focus, textarea:focus {
	box-shadow: none;
}

.actions {
    padding: 10px 20px 10px 41%;
	background-color: #fff;
}

.form-controls a {
    cursor: pointer;
}

div.validation-advice {
    background-color: #FFFFCC;
    border: 1px solid yellow;
    font-size: 12px;
    margin-top: 2px;
    padding: 1px;
    width: 216px;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

fieldset {
	margin-bottom: 0px;
	padding-top: 0px;
}

form.form-stacked label {
    font-weight: normal;
    text-transform: lowercase;
}
form.form-stacked label span.help_text {
    color: #AAAAAA;
	font-size: 12px;
	margin-left: 15px;
	vertical-align: middle;
}
