<div class='row'>
	<div class='span12'>
		<h5 class='heading'>Welcome to Tiote!</h5>
		<p>
			This applications helps you manage and administer databases in a django application.
			Presently Tiote only supports PostgreSQL and MySQL databases.
		</p>
		
		<h5 class='heading'>Server Status</h5>
		<p>
			You are logged in as {{ variables.user }}@{{variables.host}}. <br />
			Using {{variables.dialect}} {{variables.version}}
		</p>
		<!-- <h5 class='heading'>Create a new database</h5>
        <div id="msg-placeholder"></div>
		<form class='span8' id='tt_form' action="" method="post" accept-charset="utf-8">
			<fieldset>
				{% csrf_token %}
						{% for field in form %}
				<div class="clearfix">
					{{ field.label_tag}}
					<div class='input'>
						{{ field }}
					</div><!-- {% if field.errors %} <span class='help-inline'>{{field.errors}}</span>{% endif %}
				</div>
			{% endfor %}
			</fieldset>
			<div class='actions'><input type="submit" class='btn primary submit-button' value="Continue &rarr;"/></div>			
		</form> -->
		
	</div>

</div>
<div id='undisplayed_result' class='hidden' style="display:none;"></div>
<div id='sidebar_data' class='hidden'>{{sidebar|safe}}</div>

