<div class='row'>
	<div id='sql-container'></div>
	<div class='span12'>
		<div class='small-form-container'>
			<div id='form_result'></div>
      <h5 class="heading">Add New User</h5>
      <div id="msg-placeholder"></div>
			<form id='tt_form' action="" method="post" accept-charset="utf-8">
                <fieldset>
				{% csrf_token %}
				{% for field in form %}
				<div class="clearfix">
					{{ field.label_tag}}
					<div class='input'>
						{{ field }}
					</div><!-- {% if field.errors %} <span class='help-inline'>{{field.errors}}</span>{% endif %} -->
				</div>
				{% endfor %}
				</fieldset>
			  <div class='actions'><input type="submit" class='btn primary submit-button' value="Submit &rarr;"/></div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" ajaxKey="{{ajaxKey}}" charset="utf-8">
	$$('div.input ul').each(function(item){
		$(item).addClass('inputs-list');
	})
</script>

<div id='undisplayed_result' class='hidden' style="display:none;"></div>
<div id='sidebar_data' class='hidden'>{{sidebar|safe}}</div>