<div class='row'>
	<div id='sql-container'></div>
	<div class='span11'>
		<div class='small-form-container'>
			<div id='form_result'></div>
            <h5 class="heading">Add New Table</h5>
            <div id="msg-placeholder"></div>
			<form id='tt_form' class="variable_form" action="" method="post" accept-charset="utf-8">
				{% csrf_token %}
                <div class="table-form">
				{% for field in form %}
					{% if field.name in table_fields %}
					    <div class="clearfix">
					        {{ field.label_tag}}
					        <div class='input'>
					            {{ field }}
					        </div>
					    </div>
					{% endif %}
				{% endfor %}
				</div>
				<span>Start creating fields for this table.</span>    
        <div class='column-form variable_form'>
            <h6 class="heading"> New Column </h6>
            <table class='compact-form'><tbody>
            {% for field in form %}
            	{% if field.label == 'values' or field.label == 'references' %}
            	<tr class='hidden values-needed'><td>{{field.label_tag}}</td><td>{{field}}</td><td colspan='2'>{{field.help_text}}</td></tr>
            	{% else %}
	                {% if field.name not in table_fields and field.label not in odd_fields %}
	                <tr><td class="input-header">{{field.label_tag}}<td class="contains-input">{{field}}</td>
	                {% endif %}
	                {% if field.name not in table_fields and field.label in odd_fields %}
	                <td class="input-header">{{field.label_tag}}</td><td class="contains-input">{{field}}</td></tr>
	                {% endif %}
                {% endif %}
            {% endfor %}
            </tbody></table>
        </div>
			  <div class="form-controls">
	        <input type="submit" class='btn primary submit-button' value="Submit &rarr;"/>
	        <a id="newColumnForm" class="pull-right pointer">Add another column</a>
        </div>
			</form>
		</div>
		<div id='undisplayed_result' class='hidden' style="display:none;"></div>
	</div>
</div>

<script type="text/javascript" ajaxKey="{{ajaxKey}}" charset="utf-8">
    if ($$('table.compact-form td ul')){
        var j = $$('table.compact-form td ul')[0];  var con = new Elements();
        j.getChildren().each(function(item,key){
            con.include( item.getChildren()[0] );
        });
        j.getParent().getParent().adopt(new Element('td',{'colspan':5,'class':'occupy'}).adopt(con)); 
        j.getParent().destroy();        
    }
</script>

<div id='sidebar_data' class='hidden'>{{sidebar|safe}}</div>