{% extends 'tiote/empty.html' %}

{% block title %}
tiote / login
{% endblock %}

{% block content %}

<div class='span12'>
<h3>Welcome to Tiote</h3>
<p>To begin using this application you need to input the user and password to
	the database backend you intend on using. Then afterward select the kind of
	database backend. Submit and begin using tiote!
</p>

{% if errors %}
<div class='alert-message error'
	{% for err in errors %}
	<p>{{ err }}</p>
	{% endfor %}
</div>
</div>
{% endif %}
{% if form.errors %}
<div class='alert-message warning'>
{{ form.errors }}
</div>
{% endif %}
<div class='span8'>
	<form action="" id='login' method="post" accept-charset="utf-8">
		{% csrf_token %}
		<fieldset>
		{% for field in form %}
			<div class="clearfix">
				{{ field.label_tag}}
				<div class='input'>
					{{ field }}
				</div><!-- {% if field.errors %} <span class='help-inline'>{{field.errors}}</span>{% endif %} -->
			</div>
		{% endfor %}
		</fieldset>
	  <div class='actions'><input type="submit" class='btn primary submit-button' value="Continue &rarr;"/></div>
	</form>
</div>

<script type="text/javascript" ajaxKey='{{ajaxKey}}' charset="utf-8">
	window.addEvent('domready', function(){
		$$('input.submit-button')[0].addEvent('click', function(e){
			e.target.set('disabled', 'disabled');
			e.target.set('value', 'loading...');
		});
	})
	var page_with_error = true;
</script>
{% endblock %}
