{% extends 'tt_start.html' %}

{% block content %}
<div class='span12'>
<h3>Welcome to Tiote</h3>
<p>To begin using this application you need to input the user and password to
	the database backend you intend on using. Then afterward select the kind of
	database backend. Submit and begin using tiote!
</p>

{% if errors %}
<div class='alert-message error'>
	{% for err in errors %}
	<p>{{ err }}</p>
	{% endfor %}
</div>
</div>
{% endif %}
{% if form.errors %}
<div class='alert-message warning'>
{{ form.errors }}
</div>
{% endif %}
<div class='span8'>
	<form action="" id='tt_form' method="post" accept-charset="utf-8">
		{% csrf_token %}
		<fieldset>
		{% for field in form %}
			<div class="clearfix">
				{{ field.label_tag}}
				<div class='input'>
					{{ field }}
				</div>
				<!-- {% if field.help_text %}<div class='alert-message warning'>{{field.help_text}}</span>{% endif %} -->
			</div>
		{% endfor %}
		</fieldset>
	  <div class='actions'><input type="submit" id="submit-btn" class='btn primary submit-button' value="login &rarr;"/></div>
	</form>
</div>
<div id="undisplayed_result" style="display:none"></div>
<script type="text/javascript" ajaxKey='{{ajaxKey}}' charset="utf-8">
	// give focus to username field
	window.addEvent('domready', function(){
		$('id_username').focus();
	});
	// form validation
	var form_validator = new Form.Validator.Inline($('tt_form'), {
		'evaluateFieldsOnBlur':false, 'evaluateFieldsOnChange': false}
		);
</script>
{% endblock %}

{% block scripts %}{% endblock %}
{% block styles %}{% endblock %}
